Сначала импортируем пандас и подгрузим CSV

https://habr.com/ru/companies/ruvds/articles/494720/

In [1]:
import pandas as pd
dataset = pd.read_csv("csv_ex/hurricanes.csv")

In [2]:
# Копирование датафрейма
dataset_copy = dataset.copy(deep=True)

In [3]:
# Получение N записей с начала или конца ДФ
dataset_copy.tail(10)
dataset_copy.head(5)

,Month,"""Average""","""2005""","""2006""","""2007""","""2008""","""2009""","""2010""","""2011""","""2012""","""2013""","""2014""","""2015"""
0,May,0.1,0,0,1,1,0,0,0,2,0,0,0
1,Jun,0.5,2,1,1,0,0,1,1,2,2,0,1
2,Jul,0.7,5,1,1,2,0,1,3,0,2,2,1
3,Aug,2.3,6,3,2,4,4,4,7,8,2,2,3
4,Sep,3.5,6,4,7,4,2,8,5,2,5,2,5

In [4]:
# Подсчёт количества строк в датафрейме
len(dataset_copy)

8

In [5]:
# Подсчёт количества уникальных значений в столбце
dataset_copy[' "2005"'].unique()

array([0, 2, 5, 6, 8, 3, 1])

In [6]:
# Получение сведений о датафрейме
dataset_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Month       8 non-null      object
 1    "Average"  8 non-null      float64
 2    "2005"     8 non-null      int64
 3    "2006"     8 non-null      int64
 4    "2007"     8 non-null      int64
 5    "2008"     8 non-null      int64
 6    "2009"     8 non-null      int64
 7    "2010"     8 non-null      int64
 8    "2011"     8 non-null      int64
 9    "2012"     8 non-null      int64
 10   "2013"     8 non-null      int64
 11   "2014"     8 non-null      int64
 12   "2015"     8 non-null      int64
dtypes: float64(1), int64(11), object(1)
memory usage: 960.0+ bytes

In [7]:
# Вывод статистических сведений о датафрейме
dataset.describe()

,"""Average""","""2005""","""2006""","""2007""","""2008""","""2009""","""2010""","""2011""","""2012""","""2013""","""2014""","""2015"""
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.00000,8.000000,8.000000,8.000000,8.000000
mean,1.200000,3.875000,1.125000,1.750000,1.875000,1.125000,2.375000,2.25000,2.375000,1.750000,1.125000,1.500000
std,1.254705,2.799872,1.552648,2.187628,1.642081,1.457738,2.973094,2.54951,2.825269,1.581139,1.246423,1.690309
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.400000,1.750000,0.000000,1.000000,0.750000,0.000000,0.000000,0.75000,0.000000,0.750000,0.000000,0.750000
50%,0.600000,4.000000,0.500000,1.000000,1.500000,0.500000,1.000000,1.00000,2.000000,2.000000,1.000000,1.000000
75%,2.075000,6.000000,1.500000,1.250000,3.250000,2.000000,4.250000,3.50000,2.750000,2.000000,2.000000,1.500000
max,3.500000,8.000000,4.000000,7.000000,4.000000,4.000000,8.000000,7.00000,8.000000,5.000000,3.000000,5.000000

In [11]:
# Создание списка или объекта Series на основе значений столбца
list_average = dataset_copy["Average"].tolist()

KeyError: 'Average'